body {
  font-family: Montserrat, 'Helvetic Neue', 'Helvetica', sans-serif;
  padding: 0;
  margin: 0;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: url(images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

.content {
  width: 100%;
  height: 100%;
  text-align: center;

  padding-top: 80px;
}

.header {
  font-size: 141px;
  color: #33B5E5;
}

.subtitle {
  margin-top: -16px;
  font-size: 44px;
  color: white;
}

.example {
  background: rgba(0, 0, 0, 0.36);
  color: white;
  width: 400px;
  text-align: left;
  margin: 32px auto;
  padding: 16px;
}